#root{
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 0.55rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  background: url(./assets/bubbleBackground.png)
}